@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definisi variabel warna dasar untuk Shadcn/Tailwind */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
  }
}